h1{
    padding-top:50px;
    text-align: center; 
} 
.amelia{
    height:350px;
    
    
} 
body{
    background-color: black;
    color:white;
} 
.background{
    background-color: white;
    color:black;
}
.airplane{
    height:500px; 
    
}
a{
    color:white;
}